body {
  font-size: 100%;
  padding: 0px;
  margin: 0px;
  font-family: 'Raleway', sans-serif;
}

ul{
  list-style: none;
  padding: 0px;
  margin: 0px;
}

label {
  font-weight: bold;
  padding-top: 5em;
}

a{
  text-decoration: none;
  color: inherit;
}

textarea:focus, input:focus, select:focus, button:focus{
    outline: none;
}

/* --- NAVBAR --- */

.fa-bars{
  font-size: 3em !important;
  height: 100%;
}

.fa-times{
  font-size: 3em !important;
  height: 100%;
}

.fa-user{
  font-size: 3em !important;
  height: 100%;
}

.hambuger-container{
  width: 5em;
  height: 100%;
  text-align: center;
  float: left;
  box-sizing: border-box;
  font-size: 0.7em;
  padding-top: 0.6em;
}

.header-container{
  width: 100%;
  height: 3em;
  text-align: center;
  display: flex;
  line-height: 0.8em;
  background-color: #21D084;
  color: white;
}

.login-button-container{
  width: 5em;
  text-align: center;
  float: left;
  box-sizing: border-box;
  font-size: 0.7em;
  padding-top: 0.6em;
  top: 0;
  right: 0;
  position: absolute;
}

.site-title{
  font-size: 1.4em;
  padding: 0px;
  margin: 0;
  height: 100%;
  padding-top:0.8em;
  font-family: 'Comfortaa', cursive;
}

.title-container{
  width: 100%;
  padding-right: 2em;
}


/* --- NAVBAR-MENU --- */

.navigation-menu-container{
  border-bottom: 2px solid black;
  position: absolute;
  width: 100%;
}

.navigation-item{
  padding: 1em;
  background-color: rgb(69, 74, 90);
  color: #17efc1;
  font-weight: bold;
  font-size: 1em;
  letter-spacing: 0.2em;
  border-radius: 4px;
}


login-button-container {
  margin: 0;
  padding: 0;
}

/* --- HOME --- */

.welcome-image{
  width: 100%;
  height: 13em;
  background-image: url('http://res.cloudinary.com/hpyyiawap/image/upload/v1492487435/community_ha7mux.jpg');
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  box-sizing: border-box;
}

.welcome-text-container{
  background: rgba(0, 0, 0, 0.6);
  color: white;
  line-height: 1.7em;
  letter-spacing: 0.2em;
  font-size: 1em;
  height: 100%;
  width: 100%;
  padding: 3em 1em 0em 1em;
  box-sizing: border-box;
  margin-top: 1em;
}

.into-text-container{
  margin-bottom: 1em;
  line-height: 1.3em;
  letter-spacing: 0.2em;
  padding: 2em 1em;
  font-size: 1em;
  text-align: center;
  background-color: #21d084;
  color:white
}

.homepage {
  width: 95%;
  padding: 0px;
  margin: auto;
}

.homepage-catagory-container{
  width: 100%;
  height: 10em;
  background-size: cover;
  background-repeat: no-repeat;
  box-sizing: border-box;
  margin-bottom: 1em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#homepage-borrow {
  background-image: url('http://res.cloudinary.com/hpyyiawap/image/upload/c_fit,w_532/v1492489186/landing-mower_altj2b.jpg');

}

#homepage-lend {
  background-image: url('http://res.cloudinary.com/hpyyiawap/image/upload/v1492489357/Neigbours-hand-shake_dpjyka.jpg');
}

.borrow-p, .lend-p {
  background: rgba(0, 0, 0, 0.7);
  color: white;
  text-align: center;
  padding: 0.5em 0em;
  position: relative;
  top: 97%;
  transform: translateY(-85%);
  letter-spacing: 0.1em;
}

/* --- SEARCH-BAR --- */

.search-bar-container{
  margin: 0.5em auto 0;
  display: flex;
  height: 2em;
  padding: 0.5em;
}

.fa-search{
  margin-right: 0.3em;
  margin-left: 0.7em;
  font-size: 1.2em;
  padding-top: 0.3em;
}

.search-button{
  border: 2.7px solid #1B2B37;
  border-radius: 0.7em;
  font-size: 0.8em;
  width: 7em;
  height: 2.5em;
  background-color: #ffffff;
  color: white;
  font-weight: bold;
  color: #161631;
  margin-left: 1em;
  margin-right: 1em;
}

.search-label{
  flex-grow: 1;
  margin: 0px;
  padding: 0.5em 0em 0em 0.5em;
  width: 1.5em;
}

 #search-input {
    flex-grow: 1;
    margin: 0px;
    padding: 0.5em 0.5em 0 0;
    font-size: 1em;
    border: 1px solid black;
    border-radius: 0.4em;
    width: 60%;
    padding: 0.3em;
}

.Category{
  border: 1px solid black;
  width: 50%;
  margin: 0px auto;
  border-radius: 0.4em;
}

.Category-ul {
  display: flex;
  text-align: center;
  padding: 0;
}

 .Category-li {
  list-style-type: none;
  width: 25%;
  font-size: 1em;
}

select {
  width: 90%;
  padding: 8px 20px;
  margin: 0.3em 5% 0.3em 5%;
  border: 1px solid black;
  border-radius: 4px;
  background-color: #f1f1f1
}

/* --- LIST ALL ITEMS --- */

.listItemHeader h2 {
  padding: 0;
  margin: 3% 0 0 0;
  text-align: center;
}

.listItemHeader h3 {
  padding: 0;
  margin: 0;
  margin-bottom: 1em;
  text-align: center;
}

.listItem {
  width: 90%;
  margin: 1em auto;
  background-color: #f5f5f5;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: 1px solid #e0e0e0;
}

.listItemImage {
  width: 100%;
  box-sizing: border-box;
}

.list-item-description-container{
  width: 90%;
  padding: 0.5em;
  margin: 0px auto;
}

/* --- DAHSBOARD - SHARING --- */

.dashboard-container{
  margin-bottom: 2em;
}


.dashboard-active-button{
  color: #21d084;
  background-color: #eee;
}

.dashboard-button{
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  text-align: center;
  flex-grow: 1;
  padding-top: 0.6em;
  font-weight: bold;
}

.dashboard-menu-container{
  width: 100%;
  height: 2.5em;
  display: flex;
}

.dashboard-section{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 90%;
  margin: auto;
}


.dashboard-container h4 {
  margin: 1em 4% 1em 4%;
}

/* --- DAHSBOARD - PROFILE --- */

.profile-container{
  width: 80%;
  margin: auto;
}

.profile-details-container{
  margin: auto;
}

.profile-details-container p {
  text-align: center;
  font-size: 1.2em;
}

.profile-bold-text{
  font-weight: bold;
}

.profile-image{
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.profile-image-container{
  width: 70%;
  margin: 2em auto;
}

/* --- TRANSACTION DETAILS --- */

.transaction {
  width: 70%;
  margin: 0px auto;
}

.order-image-container{
  width: 16em;
  margin: 0px auto;
  border: 1px solid black;
  background-color: #eee
}

.order-image{
  width: 7em;
  height: 7em;
  margin: 0.5em
}
.order-bold-text{
  font-weight: bold;
}

/* --- BORROWED ITEMS CARD --- */

.card-button{
  border: 2.7px solid #1B2B37;
  font-size: 0.8em;
  width: 8em;
  height: 2.5em;
  background-color: #ffffff;
  color: white;
  font-weight: bold;
  color: #161631;
}

.card-button-container{
  margin: 0.5em auto;
  width: 5em;
}

.card-container{
  display: flex;
}

.card-details-container{
  width: 75%;
  padding: 0.3em;
  flex-grow: 1;
}

.card-details{
  padding: 0px;
  font-size: 0.8em;
}

.card-heading{
  margin: 0.5em 0em;
  padding: 0px;
  font-weight: bold;
}

.card-image{
  width: 3em;
  height: 3em;
  margin: 0.5em 0.5em 0em 0.5em;
  float: left;
  border: 1px solid #eee;
}

.card-wrapper{
  border: 1px solid black;
  background-color: white;
  margin-bottom: 0.1em;
}

.shared-card-details{
  padding: 0px;
  font-size: 0.8em;
  text-align: center;
}

.shared-name{
  font-weight: bold;
  font-size: 0.9em;
}

/* --- SINGLE ITEM --- */

.itemTitle {
  text-align: center
}

.item-listing{
  width: 90%;
  margin: 0px auto;
}

.itemListingImage {
  width: 100%;
}

.itemListingUserDetails{
  margin: auto;
  text-align: center;
}

.itemListingUserDetails img {
  margin: 0px auto;
  display: block;
  width: 75%;
}

.itemListingUserPhoto {
  width: 80%;
  align: center;
  border-radius: 50%;
}

.itemListingUserDetails .input[type="submit"]{
  margin: 5%;
}

.requestForm {
  text-align: center;
}

.requestForm input[type=submit] {
  margin-top: 1em;
  background-color: #21d084;
  color: white;
  width: 90%;
  padding: 12px 20px;
  margin: 0.5em auto;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.request-button{
  margin-bottom: 3em;
}

/* --- LOGIN ---- */

.login {
  text-align: center;
  color: black
}

.login img {
  width: 80%;
  margin: 25% auto 10%;
  display: block
}

.login input {
  width: 90%;
  padding: 12px 20px;
  margin: 0.5em auto;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.login button {
  margin-top: 1em;
  background-color: #21D084;
  color: white;
  width: 90%;
  padding: 12px 20px;
  margin: 0.5em auto;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.LoginGreeting {
  margin: 1em auto;
}

.login img {
  margin-top: 2em;
}

.registerLink {
  text-decoration: underline;
  color: purple;
  padding-bottom: 3em;
}

.itemListingSubmit {
  background-color: #21D084;
}

/* --- REGISTER ---- */

.register {
  text-align: center;
  color: black
}

.register img {
  width: 80%;
  margin: 25% auto 10%;
  display: block
}

.register input {
  width: 90%;
  padding: 12px 20px;
  margin: 0.5em auto;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.register input[type=submit] {
  margin-top: 1em;
  background-color: #21D084;
  color: white
}

/* --- LENDER-FORM ---- */

.lenderForm {
  text-align: center;
  color: black
}

.lenderForm img {
  width: 80%;
  margin: 25% auto 10%;
  display: block
}

.lenderForm input {
  width: 90%;
  padding: 12px 20px;
  margin: 0.5em auto;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.lenderForm input[type=submit] {
  margin-top: 1em;
  background-color: #21d084;
  color: white
}

.dropzone {
  width: 40px;
  height: 40px;
}

.imageContainer {
  width: 40%;
  height: 40%;
  padding: 0;
  margin: 0 auto;
}

.dropzone {
  width: 30%;
  height: 30%;
  overflow: hidden;
  border-style: solid;
  border-width: medium;
  padding: 12px 20px;
  box-sizing: border-box;
  margin-left: 5%;
  border-radius: 20%
}

.lenderForm img {
    width: 80%;
    margin: 0 auto 0;
    display: block;
}
.imageButtonAndDisplay {
  display: flex;
}
