body {
  font-size: 100%;
  padding: 0px;
  margin: 0px;
  /*margin-left: auto;
  margin-right: auto;
  width: 90%;*/
}

ul{
  list-style: none;
  padding: 0px;
  margin: 0px;
}

label {
  font-weight: bold;
  padding-top: 5em;
}

/* --- HEADER --- */

.fa-bars{
  font-size: 3em !important;
  height: 100%;
}

.fa-user{
  font-size: 3em !important;
  height: 100%;
}

.hambuger-container{
  width: 5em;
  height: 100%;
  border: 1px solid black;
  text-align: center;
  float: left;
  box-sizing: border-box;
}

.header-container{
  width: 100%;
  border: 1px solid black;
  height: 3em;
  text-align: center;
  display: flex;
  line-height: 0.8em;
}

.login-button-container{
  width: 5em;
  height: 100%;
  border: 1px solid black;
  text-align: center;
  float: left;
  box-sizing: border-box;
}

.site-title{
  font-size: 1.4em;
  padding: 0px;
  margin: 0px;
  height: 100%;
  padding-top:0.8em;
}

.title-container{
  width: 100%;
  height: 100%;
}

/* --- NAVIGATION-MENU --- */

.navigation-menu-container{
  border: 1px solid black;
  position: absolute;
  width: 100%;
}

.navigation-item{
  padding: 1em;
  border: 1px solid black;
  background-color: white;
}

/* --- HOMEPAGE --- */

.homepage {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1em
}

.borrow-div {
  background-image: url('https://us.123rf.com/450wm/72soul/72soul1402/72soul140200057/25919221-illustration-depicting-a-set-of-cut-out-printed-letters-arranged-to-form-the-word-borrow.jpg?ver=6');
  width: 100%;
  height: 15em;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 25px;
}

.lend-div {
  background-image: url('https://letstalkpayments.com/wp-content/uploads/2015/10/11442058625_5223427501_b.jpg');
  width: 100%;
  height: 15em;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 25px;
  margin-top: 1em;
}

.borrow-p, .lend-p {
  background: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 3%;
  text-align: center;
  line-height: 200%;
}

/* --- SEARCH-BAR --- */

 #search-input {
    width: 100%;
    font-size: 1.5em;
}

.Category-ul {
  display: flex;
  text-align: center;
  padding: 0;
}

 .Category-li {
  list-style-type: none;
  width: 25%;
  font-size: 1em;
}

/* --- List Item Component in Listing Page --- */

.listItemHeader h2 {
  padding: 0;
  margin: 3% 0 0 0;
}

.listItemHeader h3 {
  padding: 0;
  margin: 0;
}

.ListItem {
  width: 100%;
}

.listItemImage {
  width: 100%
}

/* --- DAHSBOARD - SHARING --- */

.dashboard-active-button{
  background-color: #eee
}

.dashboard-button{
  border: 1px solid black;
  text-align: center;
  flex-grow: 1;
  padding-top: 0.5em;
}

.dashboard-menu-container{
  width: 100%;
  height: 2em;
  display: flex;
}

.dashboard-section{
  border: 1px solid gray;
  margin: 0.5em 0em;;
  padding: 1em 0.5em;
}

/* --- DAHSBOARD - PROFILE --- */

.profile-continer{
  width: 80%;
  margin: 2em auto;
}

.profile-details-container{
  margin-left: 2em;
}

.profile-image{
  height: 7em;
  width: 100%;
}

.profile-image-container{
  width: 7em;
  margin: 0px auto;
}

/* --- ORDER --- */

.Order {
  width: 70%;
  margin: auto;
}

/* --- IM BORROWING CARD --- */

.card-button{
  border: 1px solid black;
  border-radius: 0.7em;
  font-size: 0.7em;
  width: 100%;
  height: 2em;
}

.card-button-container{
  margin: 0.5em auto;
  width: 5em;
}

.card-container{
  display: flex;
}

.card-details-container{
  width: 75%;
  padding: 0.3em;
  flex-grow: 1;
}

.card-details{
  padding: 0px;
  font-size: 0.8em;
}

.card-heading{
  margin: 0.5em 0em;
  padding: 0px;
  font-weight: bold;
}

.card-image{
  width: 3em;
  height: 3em;
  margin: 0.5em;
  float: left;
}

.card-wrapper{
  border: 1px solid black;
}

.shared-card-details{
  padding: 0px;
  font-size: 0.8em;
  text-align: center;
}

.shared-name{
  font-weight: bold;
  font-size: 0.9em;
}

/* --- ITEM LISTING --- */

.itemTitle {
  text-align: center
}

.itemListingImage {
  width: 100%;
}

.itemListingUserDetails{
  margin: auto;
  text-align: center;
}

.itemListingUserDetails img {
  margin: auto;
  display: block;
}

.itemListingUserPhoto {
  width: 80%;
  align: center;
  border-radius: 100%;
}

.itemListingUserDetails .input[type="submit"]{
  margin: 5%;
}

.requestForm {
  text-align: center;
}

.requestForm input[type=submit] {
  margin-top: 1em;
  background-color: #4CAF50;
  color: white;
  width: 90%;
  padding: 12px 20px;
  margin: 0.5em auto;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* --- LOGIN ---- */

.login {
  text-align: center;
  color: black
}

.login img {
  width: 80%;
  margin: 25% auto 10%;
  display: block
}

.login input {
  width: 90%;
  padding: 12px 20px;
  margin: 0.5em auto;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.login input[type=submit] {
  margin-top: 1em;
  background-color: #4CAF50;
  color: white
}

/* --- REGISTER ---- */

.register {
  text-align: center;
  color: black
}

.register img {
  width: 80%;
  margin: 25% auto 10%;
  display: block
}

.register input {
  width: 90%;
  padding: 12px 20px;
  margin: 0.5em auto;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.register input[type=submit] {
  margin-top: 1em;
  background-color: #4CAF50;
  color: white
}

/* --- LENDER-FORM ---- */

.lenderForm {
  text-align: center;
  color: black
}

.lenderForm img {
  width: 80%;
  margin: 25% auto 10%;
  display: block
}

.lenderForm input {
  width: 90%;
  padding: 12px 20px;
  margin: 0.5em auto;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.lenderForm input[type=submit] {
  margin-top: 1em;
  background-color: #4CAF50;
  color: white
}

.dropzone {
  width: 40px;
  height: 40px;
}

.imageContainer {
  width: 40%;
  height: 40%;
  padding: 0;
  margin: 0 auto;
}

.dropzone {
  width: 30%;
  height: 30%;
  overflow: hidden;
  border-style: solid;
  border-width: medium;
  padding: 12px 20px;
  box-sizing: border-box;
  margin-left: 5%;
  border-radius: 20%
}

.lenderForm img {
    width: 80%;
    margin: 0 auto 0;
    display: block;
}
.imageButtonAndDisplay {
  display: flex;
}
